<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Kothias Hospital"
        android:supportsRtl="true"
        android:theme="@style/Theme.KsharSutra"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".PredictionActivity" />
        <activity android:name=".PredictionResponseActivity"/>
        <activity android:name=".HealthAdviceActivity" />
        <activity android:name=".NavigationReportActivity" />
        <activity android:name=".PrecautionsTreatmentsActivity" />
        <activity android:name=".ContactUSActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".UserDetailsActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".QuestionnaireActivity" />
        <activity android:name=".AppointmentActivity" />
        <activity android:name=".AppointmentBookingActivity" />
        <activity android:name=".ManageReportsActivity" />
        <activity android:name=".ManageAppointmentsActivity" />
        <activity android:name=".ManageAppointment" />
        <activity android:name=".ManageAppointmentAdapter" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>


</manifest>